body {
    font-family: 'Arial', sans-serif;
    background-color: #d8e3e7;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 350px;
}
.Info-container {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 350px;
    flex-direction: column;
    display:none;
}

.login-box {
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #333;
}

p span {
    font-weight: bold;
}

.input-group {
    margin: 15px 0;
    text-align: left;
}

label {
    font-size: 14px;
    color: #333;
}

input, select {
    width: 100%;  /* Ensures all input fields and select box are the same width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.login-btn {
    background-color: #5a9fd6;
    color: white;
}

.Info {
    display : none;
    font-size : 14px;
    color: gray;
}

.output {
    display: none;
    font-size: 14px;
    color: red;
}